<div id="<%= dom_id notification %>">
  <p>
    <strong>Description:</strong>
    <%= notification.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= notification.active %>
  </p>

  <p>
    <strong>Conditions:</strong>
    <%= notification.conditions %>
  </p>

  <p>
    <strong>Actions:</strong>
    <%= notification.actions %>
  </p>

</div>
